@{
    ViewData["Title"] = "Gate";
}

<div class="row">
    <div class="col-md-12">
        <h1>Gate</h1>
        <p>
            <a class="btn btn-default" href="~/">Open</a>
        </p>
    </div>
</div>