@{
    ViewData["Title"] = "Welcome";
}

<div class="row">
    <div data-hr-controller="mainTable" class="col-md-4 startHidden" data-hr-toggle="noteList" data-hr-style-on="display:block;">
        <load visible="true">
            <p>Working...</p>
        </load>
        <main>
            <div class="table-responsive">
                <ul class="list-group" data-hr-view="listing">
                    <template>
                        <div class="container">
                            <div class="row">
                                <a data-hr-on-click="editOnPage" href="#" class="list-group-item list-group-item-action active col-9">
                                    <div data-hr-view="firstLineView">{{{this}}}</div>
                                </a>
                                <button data-hr-on-click="del" class="btn btn-default col-3" style="overflow:visible;" data-hr-toggle="del" data-hr-style-off="display:none;">Delete</button>
                            </div>
                        </div>
                    </template>
                </ul>
            </div>
            <button data-hr-on-click="addOnPage" class="btn btn-default" data-hr-toggle="add" data-hr-style-off="display:none;">Add</button>

            <page-numbers></page-numbers>
        </main>

        <error>
            An error occured loading the notes. Please try again later.
        </error>
    </div>
    <div class="col-md-8">
        <div data-hr-controller="codemirror" data-hr-handle="codemirror"></div>
    </div>
</div>